.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0 2rem;
  margin-top: 0.5rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__work-portfolioArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .app__work-portfolioArea-left,
  .app__work-portfolioArea-right {
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: center;

    .icon {
      cursor: pointer;
      margin: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #fff;

      &:hover {
        background-color: var(--secondary-color);

        svg {
          color: var(--white-color);
        }
      }
    }
  }

  .app__work-mobileNav {
    display: none;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    justify-content: center;

    .app__work-portfolioArea-right,
    .app__work-portfolioArea-left {
      display: none;
    }

    .app__work-mobileNav {
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      gap: 50px;

      .icon {
        cursor: pointer;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #fff;

        &:hover {
          background-color: var(--secondary-color);

          svg {
            color: var(--white-color);
          }
        }
      }

      .app__work-mobileNav-left .icon {
        svg {
          margin-left: 5px;
        }
      }
    }
  }
}

.app__work-portfolio {
  width: 80%;
  max-width: 1200px; /* Increase the max-width */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .app__work-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      margin: 1rem;
    }

    .app__work-image {
      flex: 1;
      width: 100%;
      height: auto;
      position: relative;

      img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }

    .app__work-content {
      flex: 2;
      padding: 1rem; /* Increase the padding */
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h4 {
        font-size: 1.5rem; /* Increase the font-size */
        line-height: 1.5;
        width: 100%;
        text-align: center;
      }

      p {
        font-size: 1.2rem; /* Increase the font-size */
        line-height: 1.5;
      }

      .cta__button {
        margin-top: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 7px;
        font-size: 1rem;
        background-color: var(--secondary-color);
        color: #fff;
      }
    }
  }
}

.app__work-indicator {
  gap: 15px;
  margin-top: 20px;

  .app__work-indiviual-indicator {
    height: 10px; /* Adjust height */
    width: 10px; /* Adjust width */
    background-color: var(--gray-color);
    border-radius: 50%;
  }
}
